GEMINI_API_KEY=YOUR_API_KEY # see https://aistudio.google.com/api-keys
GEMINI_MODEL=gemini-3.1-flash-lite-preview # see https://ai.google.dev/gemini-api/docs/models
TEMPERATURE=0.2
TOP_P=0.95
TOP_K=20
THINKING_BUDGET=-1
